input{
    margin-left: 400px;
    background-color: aquamarine;
    color:red;
    margin-top: 40px;
}
button{
    margin-left: 200px;
    margin-top: 80px;
    color: blue;
    outline: none;
    cursor: pointer;

    
}
h3{
    margin-left: 400px;
}